<nav class="navbar navbar-light bg-light">
  <ul class='nav nav-pills'>

    <li class="nav-item">
      <a class="nav-link" routerLink="accueil" routerLinkActive="active">
        Accueil
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="liste" routerLinkActive="active">
        Liste des livres
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="ajouter" routerLinkActive="active">
        Ajouter un livre
      </a>
    </li>

  </ul>
</nav>
